body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.a{
    border-radius: 6px;
    width: 100%;
    height: 200px;
    background-color: rgb(22, 22, 241);
    background-image
    : url("portada3.jpg");
    box-shadow: 8px 8px 6px rgb(189, 190, 192);
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}


.b{
    border: 2px solid rgb(99, 97, 97);
    width: 200px;
    height: 200px;
    background-image: url("perfil.jpg");
    border-radius: 50%;
    margin-top: -8%;
    margin-left: 30px;
}

.c{
    border-radius: 14px;
    border: 4px solid rgb(221, 210, 224);
    background-color: rgb(231, 217, 236);
    height: 1000px;
    width: 100%;
    margin-top: 15x;
}

.d{
    border-radius: 14px;
    background-image: url(fondo.jpg);
    height: 900px;
    width: 88%;
    margin-top: -69%;
    margin-left: 10%;
}

.registro{
    width: 400px;
    background-color: solid #12043a6b;
    padding: 30px;
    margin-left:38%;
    margin-top: -62%;
    border-radius: 8px;
    font-family: 'Century Ghotic';
    color: white;
    box-shadow: 10px 16px 40px rgb(108, 104, 121);
}

.registro h2{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(34, 33, 33);
}

.panel{
    width: 100%;
    background-color: #41668b;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 14px;
    border: 3px solid coral;
    font-family: 'Century Ghotic';
    font-size: 22px;
    color: white;
}

.registro p{
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 18px;
}

.registro a{
    color: gray;
    text-decoration: none;
}

.registro a:hover{
    color: coral;
    font-style: bold;
    text-decoration: underline;
}

.registro .boton{
    width: 100%;
    background-color: #41668b;
    border: none;
    padding: 12px;
    border-radius: 8px;
    color: white;
    font-size: 15px;
}

.registro .boton:hover{
    background-color:  rgb(66, 127, 219);
    color: coral;
}